/* .formContainer{
    margin: 20px auto;
    padding: 6px;
    align-content: center;
   
}

.container{
    margin-left: 10px auto;
    padding: 3px;
    align-items: flex-end;
    align-content: flex-start;
   
}
.label{
    padding: 10px;
} */
